   <div>
     <a style="color: green;" href="http://morning-autumn-487.heroku.com/"><img src="http://morning-autumn-487.heroku.com/images/logo.png"/></a>
     <div id="feed_item_tomorrow" style="background-color: #white;hidden;padding: 14px; position: relative;">
     <p style="color: green;"><%= @user.email %>,</p>
     <p style="color: green;">You have scheduled the following event :<p>
     <p style="color: green;"><%=@cal.event %>, scheduled at <%=@cal.when%> - at <%=@cal.where%></p>
     <br />
    </div>

