@font-face {
font-family: league;
    src: url("../fonts/miso.otf") format("opentype");
}

.container {
  width: 810px;
}

body {
  background: #fff;
  /* background: #421d10 url(../images/bg_gradient.jpg) fixed left top; */

}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 10px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  /*font-weight: bold; */
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.calendar_event input
{
  font-size: 28px;
  font-family: league, Helvetica, Verdana, Sans-Serif;
  color: #555555;
  height: 35px;
  width:810px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  padding:0px;
  margin: -2px;
  background: -moz-linear-gradient(68% 87% 106deg,#F7F7F7, #C9C9C9, #C7C7C7 100%)
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333))
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
/*  -moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 5px;
	background: -moz-linear-gra(center bottom, #999999 0%,#ffffff 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #999999),color-stop(1, #ffffff));*/
  box-shadow: 0 1px 10px rgba(0,0,0,.1);

}
footer {
  text-align: center;
/*  margin-top: 10px;*/
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Post button */

#errorExplanation
{
  width: 190px;
  color: red;
}
.notice
{
/*  display: none;*/
  background: #fff;
  border: none;
}
.alert
 {
   /*display: none;*/
   background: #fff;
     border: none;
 }

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#signin
{
    font-family: league, Helvetica, Verdana, Sans-Serif;
    font-size: 24px;
    color: #888;
/*    text-shadow: 1px 1px 1px rgba(0,0,0,.4);*/
}
#signin a
{
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.4);*/
}
#signin a
{
    text-decoration: none;
/*    text-shadow: 1px 1px 1px rgba(0,0,0,.3);*/
}
#user_nav
{
   text-align: right;
   padding-right: 5px;
}
.calendar-list
{
   padding-top: 20px;
   background: #fff;
   float: left;
   width: 200px;
   clear:both;

}
.calendar-list-future
{
    float: right;
    position: relative;

}
.calendar-list-past
{
    float: right;
    position: relative;

}

.calendar-list td
{
    font-family: Helvetica, Verdana, Sans-Serif;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    background: #fff;
}

.cal-feed
{

}
.content
{

}
.timestamp
{
   font-size: 11px;
   color: #777777;
}
.when {
color: #a9014b;
}
.when-date
{color: #2daebf;}
.where {
color: #ff5c00;
}
.awesome{
    background: #222 url(/images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
/* Sizes ---------- */
.small-awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}

/* Colors ---------- */
.blue.awesome {
background-color: #2daebf;
}
.red.awesome {
background-color: #e33100;
}
.magenta.awesome {
background-color: #a9014b;
}
.orange.awesome {
background-color: #ff5c00;
}
.yellow.awesome {
background-color: #ffb515;
}
button.g-button, a.g-button, input[type=submit].g-button {
padding: 6px 10px;
    font-weight: bold;
-webkit-border-radius: 2px 2px;
border: solid 1px rgb(153, 153, 153);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
color: #333;
text-decoration: none;
font-weight:bold;
cursor: pointer;
display: inline-block;
text-align: center;
text-shadow: 0px 1px 1px rgba(255,255,255,1);
line-height: 1;
}
#calendar_submit
{
  padding: 6px 10px;
    font-weight: bold;
-webkit-border-radius: 2px 2px;
border: solid 1px rgb(153, 153, 153);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
color: #333;
text-decoration: none;
font-weight:bold;
cursor: pointer;
display: inline-block;
text-align: center;
text-shadow: 0px 1px 1px rgba(255,255,255,1);
line-height: 1;
width:310px;
margin-left: auto;
  margin-right: auto;
  display: block;

}
.button {
   border-top: 1px solid #e1e8ed;
   background: #595f63;
   background: -webkit-gradient(linear, left top, left bottom, from(#979ea3), to(#595f63));
   background: -moz-linear-gradient(top, #979ea3, #595f63);
   padding: 7px 14px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #7194ab;
   background: #7194ab;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.signin-notice
{
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    font-size: 12px;
}
.selected-input
{
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
/*----------------------------------------------------------------*/
.flickr_pagination {
  text-align: center;
  font-size: 11px;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
/*----------------------------------------------------------------*/

