/*----------------Fonts-----------------
@font-face {
  font-family: "ChunkFive";
  src: url('Fontin_Sans_R_45b.otf') format("opentype");
}
@font-face {
font-family: "ChunkThree";
    src: url("/fonts/miso.otf") format("opentype");
}
/*--------------------------------------------------------------------
@font-face {
  font-family: "ChunkFive";
  src: url("style_154926.eot");
  src: local("?"),
  url("style_154926.woff") format("woff"),
  url("style_154926.svg") format("svg");
}
@font-face {
  font-family: "ChunkThree";
  src: url("style_154928.eot");
  src: local("?"),
  url("style_154928.woff") format("woff"),
  url("style_154928.svg") format("svg");
}
/*
.Museo-300 { font-family: Museo-300; }
.Museo-500 { font-family: Museo-500; }
*/
body {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
	background: url("/images/tile.gif") repeat scroll -70% 0 #F0F0F0;
    color: #333333;
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container
{
	
}
#container-wrap
{
	background: url("/images/big-fade.png") repeat-x scroll -70% 0 transparent;
	padding: 5px 0 30px;
}
a {
    color: #39B2E5;
    font-weight: bold;
    text-decoration: none;
}
#tour
{
    border-bottom: 2px solid #39B2E5;
    font-size: 26px;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
}
#user_nav
{
    float:right;
    /*text-align: right;*/
    padding-right:50px;
    color: #474747;
    font-family:  "Droid Sans","Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    width:650px !important;
    text-align: right;
}
#user_nav a
{
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: rgba(0,0,0,0.2) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.3) 1px 1px;
	top : 10px;
}
.setting-icon
{
    float: left;	
	top: 30px;
	padding-left: 30px;
}
.setting-icon img
{
    top: 10px;
}
#input-form-left
{
    float:left;
    width: 290px;
    padding-right: 10px;
    padding-left: 50px;

}
#input-form-left,#input-form-middle,#input-form-right label
{
    font-size: 16px;
    font-family: "Droid Sans","Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
}
#input-form-left input
{
   width: 280px;
   margin-right: 10px;
}
#input-form-right
{
    padding-left : 20px;
    float:left;
    width: 200px;
}
#input-form-right input{
    width: 200px;
    margin-right: 10px;
}
#input-form-middle
{
    padding-left : 10px;
    padding-right: 10px;
    float:left;
    width: 200px;
}
#input-form-middle input
{
    width: 200px;
    margin-right: 10px;
}

#calendar-container
{
    padding-top: -1px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    text-align: center;
    margin:0 auto;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E6EFF2;
    border: 1px solid #C1D5DB;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 10px;
    -moz-box-shadow: inset 0 0 2px #5CB3FF;
    -webkit-box-shadow: inset 0 0 2px #5CB3FF;
    box-shadow: inner 0 0 2px #5CB3FF;
}
#table-container
{
   padding-top: 5px;
   padding-bottom: 15px;
   display: block;
   margin:0 auto;
}
#calendar_submit_orange {
    background-color: #39B2E5;
    background-image: -moz-linear-gradient(center top , #7BCBED 0%, #39B2E5 100%);
    border-color: #39B2E5;
    text-shadow: 0 -1px 0 #0091CE;
    -moz-border-radius: 18px 18px 18px 18px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    margin: 5px auto;
    padding: 10px 18px 3px;
    text-align: center;
    text-decoration: none;
    width: 310px;
    text-shadow: rgba(0,0,0,0.2) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.3) 1px 1px;
    font-size: 15px;


}

.duration-h2{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding:10px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;    
    background: none repeat scroll 0 0 #0CBADF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-shadow: rgba(0,0,0,0.2) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.3) 1px 1px;
    font-family:"Droid Sans",'Ubuntu', "Helvetica Neue",Helvetica,Arial,sans-serif;
   /*  background: -moz-linear-gradient(-90deg,#003471,#448CCB);
     background: -webkit-gradient(linear, left top, left bottom, from(#003471), to(#448CCB));*/

}


#feed_item_today_container,#feed_item_tomorrow_container,#feed_item_future_container,#feed_item_past_container
{
   /*-moz-box-shadow: 0 2px 5px 0 #DDDDDD;
   -webkit-box-shadow: #DDD 0px 2px 5px 0px;*/
    margin-top:5px;
    margin-bottom:10px;
    border: 1px solid #DEDEDE;
    color: #838383;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;    
    background-color: #F9F9F9;
    font-family:"Droid Sans",'Molengo', "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 white;


}
#feed_item_today_container p
{
    font-weight: bold;
}
.item-container{
    border-bottom: 2px solid #F3F3F3;
    padding: 10px 15px;
}
.logo a
{
    padding: -10px;
}


/*-------------Input Text type--------------------------------*/
input[type="text"], input[type="password"] {
    -moz-border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B3B3B3;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    font: 13px/18px "Helvetica Neue",Arial,sans-serif;
    height: 18px;
    outline: medium none;
    padding: 5px 9px;
    vertical-align: bottom;
}
#user_reminder_duration
{
    float:left;
    width: 50px !important;
    height: 15px;
    padding-right : 5px;
}
#calendar_remind_before
{
    width: 20px;
	height: 15px;

}
#calendar_remind_before_what
{

}
#reminder_before_what
{
    padding:3px;
}
/*-------------Submit Button--------------------------------*/
.container
{
}
#container #section #sign-up form input[type="submit"] {
    -moz-border-radius: 30px 30px 30px 30px;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    padding: 9px 25px 11px;
}
input[type="submit"] {

    background: -moz-linear-gradient(center top , #FFC039 0%, #FF920D 100%) repeat scroll 0 0 #FF920D;
    background: -webkit-gradient    (linear, center top, center bottom, from(#FFC039), to(#FF920D));
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: -webkit-box-shadow;
    -webkit-transition-timing-function: linear;
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #FF920D;

    border: medium none;
    color: #202020;
    cursor: pointer;
    display: block;
    font-family:"Droid Sans",'Yanone Kaffeesatz', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold !important;
    height: 31px;
    line-height: 18px;
    padding: 4px 17px 6px;
    text-align: center;
  /*  text-shadow: 0 -1px 0 #DE6E00;*/

}
form input[type="submit"] {
    -moz-border-radius: 15px 15px 15px 15px;
    border: 1px solid #FF920D;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    font-size: 13px;
    margin: 5px 0 0 5px;
    width: 100px;
}
input[type="submit"] : hover {
    border-color: #DE6E00;
}
input[type="text"]:hover, input[type="password"]:hover {
  border-color: #8C8C8C;
}
input[type="text"]:focus, input[type="password"]:focus {
  -moz-box-shadow: 0 0 5px 0 #B5DFF1;
  border-color: #39B2E5;
}
/*----Errors----------------------------------------------------------------*/
.errored input
{
   border: 1px solid red;

}
.validation-error
{
   color :#EF5931;
   font-weight: bold;
}
/*----------------------------------------------------------------
Navigation Header
*/
#header {
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
/*    background: url("/images/bg-ftr-top.gif") repeat-x scroll 0 0 #EEEEEE;*/
    background:#4DB8E0;
    height: 65px;
    padding-top: 5px;
    position: relative;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left 5,
    color-stop(0.2, #0DB9E0),
    color-stop(0.75, #0A96AB)
    );
    background-image: -moz-linear-gradient(
    center bottom,
    #0DB9E0 20%,
    #0A96AB 75%
    );

    

}
#header div {
    margin: 0 auto;
    padding-left: 10px;
    width: 960px;
}

#error_explanation
{
    display:none;
}
#flash_alert
{
    background-color: #F05931;
    font-weight: bold;
    color: white;
    float:left;
    text-align:center;
    width: 200px;

}
/*---sign-up form-----------------------*/

#sign-up
{
    float:left;
    width: 300px;
    -moz-box-shadow: 0 2px 5px 0 #DDDDDD;
    -webkit-box-shadow: #DDD 0px 2px 5px 0px;
    background: repeat-x scroll left top white;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 40px 0 15px 35px;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1
{
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
}
#sign-up h1 strong {
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #202020;
    font-weight: bold;
    font-size: 20px;
}
#sign-up h1 {
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #838383;
    font-size: 20px;
}

#sign-in
{
  float: right;
  width: 500px;
  padding: 10px;
  font-size: 18px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#details
{
  float: right;
  width: 500px;
  padding: 10px;
  /*-moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);*/
  font-size: 18px;
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal; 
  text-shadow: 0 2px 0 #FFFFFF;

}
#calendar_submit {
    width: 250px;
   -moz-border-radius: 5px 5px 5px 5px;
    background: -moz-linear-gradient(center top , #A7E300, #99D100) repeat scroll 0 0 transparent;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A7E300), to(#99D100));

    border: 1px solid #87B800;
    color: #FFFFFF;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    text-shadow: rgba(0,0,0,0.2) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.3) 1px 1px;
    text-align: center;
   /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;*/
    display: block;
    margin: 5px auto;

}
.inline-edit-input
{
    padding: 3px;
}
.event-span, .timestamp
{
    text-shadow: 0 1px 0 white;
      font-size: 14px;
}
.inline-edit-form
{
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E6EFF2;
    border: 1px solid #C1D5DB;
    padding-bottom: 20px;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    -moz-box-shadow: inset 0 0 2px #5CB3FF;
    -webkit-box-shadow: inset 0 0 2px #5CB3FF;
    box-shadow: inner 0 0 2px #5CB3FF;
    text-shadow: 0 1px 0 #FFFFFF;

}
#calendar_done
{
    padding-left: 0px;
}
.forgot-password
{
    font-size: 20px;
    padding-top: 30px;
}
#forget-password-container
{
    size: 350px;
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E6EFF2;
    border: 1px solid #C1D5DB;
    margin-bottom: 20px;
    padding: 15px;

}
#forget-password-container input[type=submit]
{
    font-size: 12px;
}

#user_submit
{
    width: 250px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
    background: -moz-linear-gradient(center top , #A7E300, #99D100) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A7E300), to(#99D100));
    border: 1px solid #87B800;
    color: #FFFFFF;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    text-shadow: rgba(0,0,0,0.2) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.3) 1px 1px;


}
.ribbon {
    background: url("/images/bg-ftr-top.gif") repeat-x scroll 0 0 #EEEEEE;
    clear: both;
    width: 100%;
}

.twitter-shared
{
 display:inline;
}
#signin-form h1
{
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color:#39B2E5;
}
#signin-form
{
   font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   padding:15px;
}
.when
{
    font-weight: bold;
}
.when-date
{
    font-weight: bold;
}
#auths,#change_pwd
{
    float:left;
    width: 291px;
    margin-top:15px;
    margin-bottom:10px;
    border: 1px solid #DEDEDE;
    color: #838383;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #F9F9F9;
    font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right:10px;
    padding: 10px;
}
#user_settings
{
    float:right;
    width:280px;
    margin-top:15px;
    margin-bottom:10px;
    border: 1px solid #DEDEDE;
    color: #838383;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #F9F9F9;
    font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;

    padding: 10px;

}
.authentication
{
    border: 1px solid #DEDEDE;
    color: #838383;
    size:80px;
    float:left;
    text-align: center;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    padding:1px;
}
.provider
{
    padding-left: 5px;
}
#flash_error
{
   font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
   padding: 10px;

}
.important-event
{

}
.label-remind-before
{
    float:left;
    padding: 1px;
    padding-bottom: 1px;
    padding-top: 3px;
}
#edit-submit
{
}
#edit-submit input[type="submit"]
{
    width: 200px;
    font-size: 13px;
    float:right;
}
#content-top {
    background-image: url("/images/content-top-bg.png");
    background-repeat: repeat-x;
    height: 5px;
}
#footer {
/*    background-image: url("../images/footer-bg.png");*/
    background-repeat: repeat-x;
    clear: both;
    height: 40px;

    padding-top: 30px;
}
#setting-error
{
 
    color: orange;
    font-weight: bold;
    text-align: center;
    border: 1px solid #DEDEDE;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
    font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
        
}
.error-field
{
	border: 1px solid red;
}
.important-event{
	color: red;
	width: 12px;
	background-color: red;
	opacity: 0.4;	
}
.normal-event{
	color: red;
	width: 12px;
	background-color: green;
	opacity: 0.4;	
}
#search-form-p-container1,#search-form-p-container2,#search-form-p-container3
{
    width: 100px;
    float: right;    
    display: block;
}
#search-submit-1
{
    -moz-border-radius: 40px 40px 40px 40px;
    background-color: #FFFFFF !important;
    background: #FFFFFF !important;    
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    line-height: 1em;
    font-weight: normal !important;
    margin-bottom: 4px; 
    height: 25px !important;
    margin-right: 2px;
    padding: 2px 8px;
    color: #E64B50 !important;
    font-size: 12px;
}
.event-highlight, #search-form-p-container input[type="submit"]
{
	-moz-border-radius: 40px 40px 40px 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    line-height: 1em;
    margin-bottom: 4px;
    margin-right: 2px;
    padding: 2px 8px;
	color: #E64B50;
}
.event-highlight-hover{
    color: #E64B50;
    text-decoration: none;
}
#search
{
	-moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
    background: none repeat scroll 0 0 #EFE9D7;
    border: medium none;
    color: #8A7A62;
    font-size: 1em;
    padding: 5px 28px 6px 8px;
    width: 160px;
	 
}
#search-submit{
	background: url("/images/ico_sidebar_search.png") no-repeat transparent;
    border: medium none;
    display: block;
    height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 525px;
    text-indent: -9000px;
    top: 17px;
    width: 16px;
}
#search-form-p
{
	margin: 0px;
}
#all-results 
{
	color: white;
}
#all-results a:hover
{
	color: white;
	text-decoration:none;
}
#free
{
	float: left;
	margin-top: 400px;
	/*-webkit-transform: rotate(30deg); 
    -moz-transform: rotate(30deg);*/		
}
hr{
	background: url("/images/border-2px.gif") repeat-x scroll left bottom transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.898);
    font-size: 0.8em;
    line-height: 1;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 0 0 8px;
    text-transform: uppercase;
}
#calendar_note
{
	  border: 1px solid #DEDEDE;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	
	
}
#note-label
{
	font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #39B2E5;	
}
#edit-submit input[type="submit"]
{
	width: 200px;
	margin: 5px auto;
    text-align: center;
}
#input[type="checkbox"]{
	padding: 3px;
}
#search-form
{
	float: left;
	width: 150px !important;
}
#search_event_or_event_location_or_category_str_or_note_contains
{
	width: 150px;
	height: 11px;
	top: 0px;
}
.event-note
{
    font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #39B2E5;	

}
#edit-form-title
{
  font-family:"Droid Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  text-shadow: 0 1px 0 #FFFFFF;
  font-weight: bold;
  font-size:16px;
  color: #E64B50;

}
#slider-container
{
/*  padding: 10px !important;
  -moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #E6EFF2;
  border: 1px solid #C1D5DB;*/
}
.pri-class
{
  border:0 !important; 
  font-weight:bold !important; 
  background-color: transparent !important;
  font-size: 20px;
}
#edit-cal-note
{
    height: 50px;
    padding: 5px;
    width: 238px;
    border: 1px solid #b3b3b3;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
#calendar_category_str
{
    width: 180px;
}
#edit-form-left
{
  width: 300px;
  float:left;
  padding: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #E6EFF2;
  border: 1px solid #C1D5DB;

}
#edit-form-right
{
  width: 200px;
  float: right;
    padding: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E6EFF2;
    border: 1px solid #C1D5DB;
 
}
#check-container
{
  width:350px;
  text-align: left;
  padding: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #E6EFF2;
  border: 1px solid #C1D5DB;

}
#important-check
{
  display:block;
  float:left; 
  width:170px;
}
#done-check

{
  display:block;
  width:170px;
  float: left;
}
#edit-form-inside
{
    padding: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E6EFF2;
    border: 1px solid #C1D5DB;
    
}
#setting-user-saved
{
    padding: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E6EFF2;
    color: red;
    text-align: center;
    border: 1px solid #C1D5DB;
 
}
#slider-container input[type="text"]
{
  width: 10px;
  padding: 0px 4px 5px 0px;
  margin-top: 3px;
}
#slide-container label
{
  float: left;
}
#image-up-down
{
  width: 100px;
  float: left;
  display: block;
}
.image-up, .image-down
{
  display: block;
}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-datepicker-month {font-size: 11px;}

/*----------------------------------------------------------------------------------------------------*/
/* dropdowns: general 88bbd4*/
a.dropdown { text-align:left; background: transparent; padding: 4px 6px 6px; text-decoration: none; font-weight: bold; color: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
a.dropdown:hover { background: #4DB8E0; }
a.dropdown { position: relative; margin-left: 3px; }
a.dropdown span { background-image: url(/images/toggle_down_light.png); background-repeat: no-repeat; background-position: 100% 50%; padding: 4px 16px 6px 0; }
a.dropdown.dropdown-active { color:#4DB8E0; background-color:#4DB8E0; padding-bottom: 2px; }
a.dropdown.dropdown-active span { background:url(/images/toggle_up_dark.png) 100% 50% no-repeat; }
.dropdown-menu  { background:#4DB8E0; padding:7px 12px; position:absolute; top:30px; right:0; display:none; z-index:5000; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
  .dropdown-menu p { font-size:11px; }
.dropdown-menu a:link, .dropdown-menu a:visited { font-weight:bold; color:#4DB8E0; text-decoration:none; line-height:1.7em; }
.dropdown-menu a:active, .dropdown-menu a:hover { color:#555; }

      * html .dropdown-menu { top:28px; }
      *+ html .dropdown-menu { top:28px; }

/* dropdowns: specific */
#menu1      { float:left; margin-right:20px; width: 50px !important;}
  #dropdown1  { width:150px !important; }
  #dropdown1 a  { display:block; }
#menu2      { float:left; }
  #dropdown2  { width:150px; font-size:11px; }
.relative   { width:100px !important;position:absolute;right:10;left:10;  }
