.afs-yanone-kaffeesatz { font-family: "Yanone Kaffeesatz", "Gill Sans", "Helvetica", "Arial", "Lucida Grande", "Verdana", sans-serif; ;}

.afs-dejavu-serif { font-family: "DejaVu Serif", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif; font-size: 96.34%;}

.afs-liberation-serif { font-family: "Liberation Serif", "Times New Roman", "Georgia", "Palatino", "Baskerville", "Hoefler Text", serif; font-size: 108.93%;}

.afs-ubuntu { font-family: "Ubuntu", "Lucida Grande", "Arial", "Verdana", "Helvetica", "Gill Sans", sans-serif; font-size: 96.15%;}


@font-face {
  font-family: Yanone Kaffeesatz;
  src: url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Bold.otf');
  src: local('☺'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Bold-webfont.woff') format('woff'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Yanone Kaffeesatz;
  src: url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Thin-webfont.ttf');
  src: local('☺'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Thin-webfont.woff') format('woff'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Thin-webfont.ttf') format('truetype'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Thin-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: Yanone Kaffeesatz;
  src: url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Light-webfont.ttf');
  src: local('☺'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Light-webfont.woff') format('woff'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Light-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: Yanone Kaffeesatz;
  src: url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Regular-webfont.ttf');
  src: local('☺'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('/fonts/Yanone-Kaffeesatz/YanoneKaffeesatz-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Bold-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Bold-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Italic-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Italic-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerif-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerif-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerif-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerif-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerif-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerif-Bold-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerif-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerif-Italic-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerif-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: DejaVu Serif;
  src: url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-BoldItalic-webfont.woff') format('woff'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/DejaVu-Serif/DejaVuSerifCondensed-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: Liberation Serif;
  src: url('/fonts/Liberation-Serif/LiberationSerif-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Serif/LiberationSerif-Italic-webfont.woff') format('woff'), url('/fonts/Liberation-Serif/LiberationSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Serif/LiberationSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Liberation Serif;
  src: url('/fonts/Liberation-Serif/LiberationSerif-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Serif/LiberationSerif-Bold-webfont.woff') format('woff'), url('/fonts/Liberation-Serif/LiberationSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/Liberation-Serif/LiberationSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Liberation Serif;
  src: url('/fonts/Liberation-Serif/LiberationSerif-Regular-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Serif/LiberationSerif-Regular-webfont.woff') format('woff'), url('/fonts/Liberation-Serif/LiberationSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/Liberation-Serif/LiberationSerif-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Liberation Serif;
  src: url('/fonts/Liberation-Serif/LiberationSerif-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Serif/LiberationSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/Liberation-Serif/LiberationSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Serif/LiberationSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: Ubuntu;
  src: url('/fonts/ubuntu/Ubuntu-I-webfont.ttf');
  src: local('☺'), url('/fonts/ubuntu/Ubuntu-I-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-I-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-I-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Ubuntu;
  src: url('/fonts/ubuntu/Ubuntu-B-webfont.ttf');
  src: local('☺'), url('/fonts/ubuntu/Ubuntu-B-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-B-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-B-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Ubuntu;
  src: url('/fonts/ubuntu/Ubuntu-R-webfont.ttf');
  src: local('☺'), url('/fonts/ubuntu/Ubuntu-R-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-R-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-R-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Ubuntu;
  src: url('/fonts/ubuntu/Ubuntu-BI-webfont.ttf');
  src: local('☺'), url('/fonts/ubuntu/Ubuntu-BI-webfont.woff') format('woff'), url('/fonts/ubuntu/Ubuntu-BI-webfont.ttf') format('truetype'), url('/fonts/ubuntu/Ubuntu-BI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}

