<%= form_for @calendar do |f| %>

  <div>
    <%= f.text_field :event%>
    <p class="example">e.g. : Haircut tomorrow, Meeting with Boss next Wednesday, Extremely urgent meeting today </p>
  </div>
  <div>
    <%= f.submit "     Submit     " %>
  </div>


<% end %>

