<%= form_for @calendar do |f| %>

  <div>
    <%= f.text_field :event%>
  </div>
  <div class="example">e.g. : Haircut tomorrow, Meeting with Boss next Wednesday, </div>
  <br/>
  <div>
    <%= f.submit "     Submit     " %>
  </div>


<% end %>

