
<tr>
<!--  <td class="gravatar">
    <%= link_to feed_item.user.email %>
  </td> -->

  <td class="calendar-list">
    <span><%= feed_item.event %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user == feed_item.user %>
  <td>
    <%= link_to image_tag("delete.png"),   feed_item,    :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.event %>
  </td>

  <% end %>
</tr>

