fetch_feed.html.erb
<% if session[:token] -%>
<div id="documents_data">
<div class="header_bar">
</div>
<div class="list">
<ul>
<% @feed.sort.each do |doc| -%>
 YO!
-%>
<% end -%>
</ul>
</div>
</div>
<% end -%>

