<!--div id="free"><img src="../../images/free.png"/></div> -->
<div id="sign-up">
<%= render :partial => "sign_in_form" %>
<%= render :partial => "devise/shared/links" %>
</div>
    <%= render :partial => "pages/signin_links" %>
    <div id="details" class="Museo-500">
  <p>Socl is a social calendar and a to-do list application.<br/> You can add calendar and to-do list entries and share them on Twitter, Facebook and Foursquare. You can sync your calendar with Google Calendar too.</p>
    <hr/>
    Socl is in its early stage - something like a pre-alpha. It would be great if you can suggest new features or report bugs so we can fix them - <a href="http://groups.google.com/group/socl-group">we would love to hear from you.</a>
    <div class="clear"></div>
    </hr>
    </div>
