<div id="sign-up">
     <%= render :partial => "sign_in_form" %>  ...or signin using

<%= render :partial => "devise/shared/links" %>
</div>
   <%= render :partial => "pages/signin_links" %>
    <div id="details">
      <p>Socal is the soc<del>i</del>al calendar and a to-do list. Your calendar events will be posted to your social world(only if you wish). You can easily share your calendar events to Twitter, Facebook, Foursquare, Gowalla to make sure your social circle is aware of what you are up to. A sophisticated reminder system makes sure that you are always aware of your schedule.</p>
      <div class="clear"></div>
     </div>

