<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
a:link {
	color: #61c7dd;
}
a:hover {
	color: #59b8cc;
}
.content h2{  font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; color: #767572; letter-spacing: -2px; line-height: 110%;}
.address { font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #767572; margin: 0; padding: 0; letter-spacing: -0.3px; }
</style>
</head>
<body bgcolor="#161616" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td valign="top" bgcolor="#161616"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font: 14px Helvetica, Arial, sans-serif; color: #767572; line-height: 100%;">
				<tr>
					<td valign="top">
						<table width="600" height="204" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td style="height: 63px;">
									<table width="100%" border="0" cellspacing="0" cellpadding="10">
										<tr>
											<td style="font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #808080; padding-top: 15px;"></td>
										</tr>
									</table>
								</td>
        <td valign="top" style="height: 50px; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: bold; color: #f9f8f2; letter-spacing: -2px; line-height: 90%;"><p><%= @user.email %></p></td> 
	

								<td style="height: 56px;"><img src="http://i.imgur.com/h442Z.gif" width="96" height="56" alt="" style="display: block;"></td>
								</tr>
								<tr>
                                                                                									<td colspan="2" style="background-image: url(http://i.imgur.com/ywmMw.gif); background-repeat: no-repeat; height: 7px;"><img src="http://i.imgur.com/ywmMw.gif" alt="" width="600" height="7" style="display: block;"/></td>
								</tr>
								<tr>
									<td valign="top" style="width: 504px; height: 125px;">
										<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 125px;">
										<tr>
											<td valign="top" bgcolor="#161616" style="height: 10px;">&nbsp;</td>
										</tr>
										<tr>
										<td valign="top" bgcolor="#161616" style="height: 50px; font-family: Helvetica, Arial, sans-serif; font-size: 55px; font-weight: bold; color: #f9f8f2; letter-spacing: -2px; line-height: 90%;">Welcome to Socl</td>
										</tr>
										<tr>
											<td valign="top" bgcolor="#161616" style="height: 25px; font-family: Helvetica, Arial, sans-serif; font-size: 19px; font-weight: bold; color: #4e4e4e; letter-spacing: -2px;">
											</td>
										</tr>
										</table>
									</td>
									<td valign="top"><img src="http://i.imgur.com/ivDBR.gif" width="96" height="125" alt=""></td>
								</tr>
								<tr>
									<td colspan="2" valign="top" style="height: 16px; background-image: url(http://i.imgur.com/CugVg.gif); background-repeat: no-repeat;"><img src="http://i.imgur.com/CugVg.gif" width="600" height="16"/></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top" bgcolor="#161616">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td valign="top" style="height: 35px;">&nbsp;</td>
								</tr>
								<tr>
									<td valign="top">
										<repeater toc='true'>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>


													<td style="font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; color: #767572; letter-spacing: -2px; padding-bottom: 20px;">You are just a step away from joining Socl.
												</tr>
												
												<tr>
													<td style="font-family: Helvetica, Arial, sans-serif; color: #767572; padding: 0px 0 40px;">
														<img src="<$imagesrc$>" alt="" width="598" style="padding-bottom: 20px;" />
														<p>You have registered to be a part of Socl. <i>We thank you for that.</i></p>
														<p>Please confirm your registration by clicking the following link: </p>
														<p><%= link_to 'Confirm my account', confirmation_url(@user, :confirmation_token => @user.confirmation_token) %></p>	</td>
	
												</tr>
												
											</table>
										</repeater>
								
									</tr>
							</table>
						</td>
					</tr>
					
						</table>
					</body>
					</html>
